* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    --bg-primary: #f3f5fc;
    --bg-secondary: #ffffff;
    --bg-third: #0A3871;
    --font-primary: #495057;
    --font-secondary: #343A40;
}

.container {
    display: flex;
    flex-direction: column;
    
    background-color: var(--bg-primary);
    height: 100vh;
    width: 100vw;
    padding: .5rem;
}

/* ====== MAIN SECTION ===== */
.container > .main__section {
    flex: 3 ;

    display: flex;
    flex-direction: column;
}

.container > .main__section > .icon {
    flex: 0; 
    margin: .5rem .3rem;
}

.container > .main__section > form {
    flex: 1;

    display: flex;
    flex-direction: column;
    padding: .5rem .5rem;
}

.container > .main__section > form > #field-message {
    flex: 1;

    color: var(--bg-third);
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    width: 100%;
    border: none;
    margin: 2rem 0;
    background-color: var(--bg-primary);
    outline: none;
    resize: none;
}

::-webkit-input-placeholder {
    color: var(--bg-third);
    opacity: .9;
}

::-moz-placeholder {
    color: var(--bg-third);
    opacity: .9;
}

.container > .main__section > form > .warning {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.warning > svg {
    margin: .2rem .5rem;
}

.warning > label {
    color: var(--font-secondary);
}

.container > .main__section > form > .hold-buttons {
    flex: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
}

.container > .main__section > form > .hold-buttons > input {
    padding: 1rem;
    border-radius: 1.3rem;
    margin: .5rem 0;
    border: 1px solid var(--bg-third);
    width: 100%;
}

.hold-buttons > input:nth-child(1) {
    background-color: var(--bg-third);
    color: var(--bg-secondary);
    cursor: pointer;
}

.hold-buttons > input:nth-child(2) {
    background-color: var(--bg-primary);
    color: var(--bg-third);
    cursor: pointer;
}

/* ====== ASIDE SECTION ===== */
.container > .aside__section {
    flex: 1;

    padding: 1rem;
    margin: 1rem;
    background-color: var(--bg-secondary);
    border-radius: 2rem;
    box-shadow: 0px 12px 45px -25px var(--font-secondary);
}

.container > .aside__section > #empty-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    height: 100%;
}

#empty-field > h3 {
    color: var(--font-secondary);
    margin: .4rem 0;
}

#empty-field > p {
    color: var(--font-primary);
    margin: .4rem 0;
}

.container > .aside__section > .text__field {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    height: 100%;
}

.text__field > #result-field {
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 400;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
    border: none;
    text-align: center;
}

.text__field > #btn-copy {
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--bg-third);
    background-color: var(--bg-secondary);
    color: var(--bg-third);
    margin-top: .5rem;
    cursor: pointer;
}